.About{
    height: 100vh;
    width: 100vw;
    background-image: url(../assets/images/search.jpg);
    background-size: cover;
    background-position: bottom;
    background-color: rgb(211, 209, 209);
    background-blend-mode: multiply;
    padding-top: 1px;
    animation: pageLoad 1s linear;
}
.About p{
    color: white;
    width: 80%;
    max-width: 500px;
    margin:10% auto;
    background: rgb(22, 29, 71);
    border: 1px solid white;
    border-radius: 15px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: large;
    opacity: 0.85;
}
