.Modal{
    height: 60vh;
    width: 90vw;
    margin: auto;
    background: linear-gradient( rgb(77, 76, 76), rgb(141, 140, 140));
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.Modal button{
    background:rgb(56, 53, 53);
    border: 2px solid white;
    border-radius: 15px;
    display: block;
    margin: 6px auto;
    width: 50%;
    color: white;
    font-weight: bold;
    padding: 15px;
    font-size: large;
    max-width: 250px;
}
.Score{
    background-image: url(../assets/images/fireworks.jpg);
    background-size: cover;
    background-position: center;
    animation: pageLoad 1s linear;
}
.Score h1{
    font-size: 4rem;
    color: white;
    border-bottom: 3px solid gray;
    background-color: gray;
    border-radius: 25px;
    opacity: .8;
    padding: 10px 25px;
    font-family: cursive;
}
@media only screen and (max-width: 600px){
    .Score h1{
        font-size: 3rem;
    }
}
@media only screen and (max-width: 451px){
    .Score h1{
        font-size: medium;
    }
}
.Message {
    height: 20vh;
    width: 50vw;
    margin: auto;
}
.Error{
    width: 70%;
    max-height: 40vh;
    max-width: 500px;
    margin: 10% auto;
    background: rgb(90, 9, 9, .8);
    animation: formLoad 200ms linear
}
.Error h1{
    text-align: center;
    color: rgb(248, 242, 242);
    border-bottom: 1px solid white;
    max-width: 80%;
}
.Success {
    width: 70%;
    max-height: 40vh;
    max-width: 500px;
    margin: 10% auto;
    background: rgba(12, 121, 3, 0.8);
    animation: formLoad 200ms linear
}
.Success h1{
    text-align: center;
    color: rgb(248, 242, 242);
    border-bottom: 1px solid white;
    max-width: 80%;
}