.qaList{
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(../assets/images/test.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgb(214, 212, 212);
    background-blend-mode: multiply;
    padding-top: 1px;
    margin-bottom: -60px;
    animation: pageLoad 1s linear;
}
.qaList form{
    display: block;
    max-width: 700px;
    margin: 5px auto;
    animation: formLoad 1s linear
}
.qa{
    display: flex;
    color: white;
    background: rgb(19, 15, 15);
    border-radius: 15px;
    margin-top: 2px;
    opacity: .8;
}
.q{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}
.a-parent{
    width: 45%;
    border-left: 1px solid rgb(153, 43, 43);
    padding: 5px 0 5px 10px;
}
.a{
    width: 95%;
    border-bottom: 1px solid rgb(54, 53, 53);
    border-radius: 10px;
    padding: 10px;
    font-size: large;
}
.qaList button{
    background:black;
    border: 2px solid white;
    border-radius: 15px;
    display: block;
    margin: 6px auto;
    width: 50%;
    color: white;
    font-weight: bold;
    padding: 15px;
    font-size: large;
}

.qaList h1{
    color: rgb(190, 16, 16);
    text-align: center;
    width: 80%;
    max-width: 500px;
    margin: auto;
    font-size: xx-large;
    font-weight: bold;
    font-style: oblique;
    border-bottom: 2px solid black;
    border-radius: 10px;
}